# Python API for NYU's DataMart

This notebook showcases how to use the Python API for the NYU's DataMart system, which implements the common DataMart interface (https://gitlab.com/datadrivendiscovery/datamart-api/blob/master/datamart.py). To install it: `pip install datamart_nyu`

For the augmentation, we use the taxi demand example, available here: https://gitlab.datadrivendiscovery.org/d3m/datasets/tree/master/seed_datasets_data_augmentation/DA_ny_taxi_demand

In [1]:
from d3m import container
import datamart
import datamart_rest
import datetime
from pathlib import Path

In [2]:
def print_results(results):
    if not results:
        return
    for result in results:
        print(result.score())
        print(result.get_json_metadata()['metadata']['name'])
        if (result.get_augment_hint()):
            print("Left Columns: %s" %
                  str(result.get_json_metadata()['augmentation']['left_columns_names']))
            print("Right Columns: %s" %
                  str(result.get_json_metadata()['augmentation']['right_columns_names']))
        else:
            print(result.id())
        print("-------------------")

Loading the taxi data, i.e., our supplied data.

In [3]:
# You can change this accordingly
ny_taxi_demand_file = str(Path.home()) + '/projects/d3m/datasets/seed_datasets_data_augmentation/' +\
                      'DA_ny_taxi_demand/DA_ny_taxi_demand_dataset/datasetDoc.json'
ny_taxi_demand = container.Dataset.load('file://' + ny_taxi_demand_file)

In [4]:
ny_taxi_demand['learningData'].head()

  d3mIndex tpep_pickup_datetime num_pickups
0        0  2018-04-19 22:00:00         731
1        1  2018-06-30 20:00:00         183
2        2  2018-06-02 10:00:00         384
3        3  2018-04-17 13:00:00         648
4        4  2018-01-04 01:00:00           3

## Searching for Datasets

Let's first instantiate our client:

In [5]:
client = datamart_rest.RESTDatamart('https://auctus.vida-nyu.org/api/v1')

### Search using keywords

In [6]:
query = datamart.DatamartQuery(
    keywords=['new york', 'airport'],
    variables=[]
)
cursor = client.search(query=query)

In [7]:
results = cursor.get_next_page()

In [8]:
print_results(results)

41.086548
2017-yellow-cab-lga
datamart.url.54f251dd89075077b3b76edfb2fcbbdd
-------------------
36.54045
Newyork Weather Data around Airport 2016-18
datamart.url.a3943fd7892d5d219012f889327c6661
-------------------
25.214008
NYC Hourly Weather Data 2010-2018
datamart.upload.469f627ada7349f285ad22d3028bc38d
-------------------
23.68223
Water Consumption In The New York City
datamart.socrata.data-cityofnewyork-us.ia2d-e54m
-------------------
20.64674
Overhead Electronic Signs
datamart.socrata.data-cityofnewyork-us.yhdx-itry
-------------------
20.278877
ny_lga_weather_16_17_18
datamart.url.ce55ccdfd9a653a082795b7bf7bd88e6
-------------------
20.02762
Local Law 50 New York State Food Purchasing FY15
datamart.socrata.data-cityofnewyork-us.2rd2-9uwy
-------------------
15.340914
New York City Population By Community Districts
datamart.socrata.data-cityofnewyork-us.xi7c-iiu2
-------------------
14.348843
New York City Population By Neighborhood Tabulation Areas
datamart.socrata.data-cityofnewyork-us.swpk-hqdp
-------------------
14.212353
SNAP Center Wait Time
datamart.socrata.data-cityofnewyork-us.gqk4-hny9
-------------------
14.061054
New York City Leading Causes of Death
datamart.socrata.data-cityofnewyork-us.jb7j-dtam
-------------------
13.8524885
NYC Women's Resource Network Database
datamart.socrata.data-cityofnewyork-us.pqg4-dm6b
-------------------
13.293146
Yellow Taxi Data 2015
datamart.upload.4eb2156e6a994f33ba71dd59f44c4c59
-------------------
13.263956
New York City Seasonally Adjusted Employment
datamart.socrata.data-cityofnewyork-us.5hjv-bjbv
-------------------
12.931395
Transportation Sites
datamart.socrata.data-cityofnewyork-us.hg3c-2jsy
-------------------
12.731603
NYC Weather Data 2010-2018
datamart.upload.a031bc4968cb4838967e4709e63a0ddc
-------------------
12.627908
New York City Population by Borough, 1950 - 2040
datamart.socrata.data-cityofnewyork-us.xywu-7bv9
-------------------
12.281969
NYC Independent Budget Office (IBO) Debt Service Since FY 2000
datamart.socrata.data-cityofnewyork-us.6ggx-itps
-------------------
12.215578
New York City Council Discretionary Funding
datamart.socrata.data-cityofnewyork-us.4d7f-74pe
-------------------
12.027399
Housing New York Units by Project
datamart.socrata.data-cityofnewyork-us.hq68-rnsi
-------------------

### Search using keywords and variables

In [9]:
query = datamart.DatamartQuery(
    keywords=['new york', 'airport'],
    variables=[
        datamart.TemporalVariable(start=datetime.datetime(2018,1,1), end=None)  # data after 2018-01-01
    ]
)
cursor = client.search(query=query)

In [10]:
results = cursor.get_next_page()

In [11]:
print_results(results)

40.060986
Newyork Weather Data around Airport 2016-18
datamart.url.a3943fd7892d5d219012f889327c6661
-------------------
28.734543
NYC Hourly Weather Data 2010-2018
datamart.upload.469f627ada7349f285ad22d3028bc38d
-------------------
23.983196
ny_lga_weather_16_17_18
datamart.url.ce55ccdfd9a653a082795b7bf7bd88e6
-------------------
18.056908
SNAP Center Wait Time
datamart.socrata.data-cityofnewyork-us.gqk4-hny9
-------------------
16.435923
NYC Weather Data 2010-2018
datamart.upload.a031bc4968cb4838967e4709e63a0ddc
-------------------
15.547933
Housing New York Units by Project
datamart.socrata.data-cityofnewyork-us.hq68-rnsi
-------------------
15.416474
Housing New York Units by Building
datamart.socrata.data-cityofnewyork-us.hg8x-zxpr
-------------------
14.549791
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
datamart.socrata.data-cityofnewyork-us.rgfe-8y2z
-------------------
14.136961
2018 Green Taxi Trip Data
datamart.socrata.data-cityofnewyork-us.w7fs-fd9i
-------------------
13.943104
Taxi Improvement Fund (TIF) Medallion Payments
datamart.socrata.data-cityofnewyork-us.ht4t-wzcm
-------------------
13.862291
2018 Yellow Taxi Trip Data
datamart.socrata.data-cityofnewyork-us.t29m-gskq
-------------------
13.60968
Traffic Volume Counts (2014-2018)
datamart.socrata.data-cityofnewyork-us.ertz-hr4r
-------------------
12.72023
Medallion Taxi Initial Inspection Schedule
datamart.socrata.data-cityofnewyork-us.k2tc-bipg
-------------------
12.415043
Medallion  Vehicles - Authorized
datamart.socrata.data-cityofnewyork-us.rhe8-mgbb
-------------------
12.243691
Department for the Aging (DFTA) Reported Line Item Expenditures by Month of Transportation Services Contracted Providers
datamart.socrata.data-cityofnewyork-us.s3uf-q278
-------------------
12.1893
Historical Medallion  Vehicles - Authorized
datamart.socrata.data-cityofnewyork-us.pvkv-25ck
-------------------
12.067532
Department for the Aging (DFTA) Reported Service Units by Month of Transportation Contracted Providers
datamart.socrata.data-cityofnewyork-us.5vqp-meve
-------------------
11.796049
Street Hail Livery (SHL) Taxi Initial Inspection Schedule
datamart.socrata.data-cityofnewyork-us.rdxc-q253
-------------------
11.503084
DOHMH New York City Restaurant Inspection Results
datamart.socrata.data-cityofnewyork-us.43nn-pn8j
-------------------
11.100095
Trade Waste Hauler Licensees
datamart.socrata.data-cityofnewyork-us.867j-5pgi
-------------------

### Search using data

In [12]:
cursor = client.search_with_data(query=None, supplied_data=ny_taxi_demand)

In [13]:
results = cursor.get_next_page()

In [14]:
print_results(results)

1.0
Water Consumption And Cost (2013 - March 2019)
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Revenue Month']]
-------------------
1.0
Street Construction Permits
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['ModifiedOn']]
-------------------
1.0
Appeals Closed In 2017
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Expiration']]
-------------------
1.0
Housing New York Units by Building
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Project Start Date']]
-------------------
1.0
Housing Maintenance Code Complaints
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['ReceivedDate']]
-------------------
1.0
Capital Projects
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Forecast Completion']]
-------------------
1.0
2005 - 2011 Graduation Outcomes - Borough - ELL
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Advanced Regents Num']]
-------------------
1.0
2005 - 2011 Graduation Outcomes - Borough - ELL
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Regents w/o Advanced Num']]
-------------------
1.0
HRA Facts
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Adult Protective Svs. Referrals Received']]
-------------------
1.0
2008-2009 VADIR INCIDENTS
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Enrollment']]
-------------------
1.0
Parks Inspection Program – Inspections
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['inspAddedDate']]
-------------------
1.0
Appeals Closed In 2016
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Expiration']]
-------------------
1.0
LPC Permit Application Information
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['received_date']]
-------------------
1.0
M/WBE, LBE, and EBE Certified Business List
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['DATEOFJOB2']]
-------------------
1.0
Housing New York Units by Project
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Project Completion Date']]
-------------------
1.0
Street Construction Inspections and Corrective Action Requests
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['InspectionDate']]
-------------------
1.0
Board of Standards and Appeals (BSA) Applications Status
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Date']]
-------------------
1.0
IBRD Statement Of Loans - Historical Data
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['First Repayment Date']]
-------------------
1.0
IBRD Statement Of Loans - Historical Data
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Last Repayment Date']]
-------------------
1.0
IBRD Statement Of Loans - Historical Data
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Closed Date (Most Recent)']]
-------------------

### Search using data and keywords

In [15]:
query = datamart.DatamartQuery(
    keywords=['new york', 'airport'],
    variables=[]
)
cursor = client.search_with_data(query=query, supplied_data=ny_taxi_demand)

In [16]:
results = cursor.get_next_page()

In [17]:
print_results(results)

50.0
Newyork Weather Data around Airport 2016-18
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['DATE']]
-------------------
30.0
ny_lga_weather_16_17_18
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['DATE']]
-------------------
30.0
Medallion  Vehicles - Authorized
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Last Date Updated']]
-------------------
25.319695
Trade Waste Hauler Licensees
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['CREATED']]
-------------------
25.319695
Trade Waste Hauler Licensees
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['EXPORT DATE']]
-------------------
24.126173
Medallion  Vehicles - Authorized
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Expiration Date']]
-------------------
20.0
Housing New York Units by Building
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Project Start Date']]
-------------------
20.0
Housing New York Units by Project
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Project Completion Date']]
-------------------
20.0
2013 - 2014 School Quality Reports
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Most Recent Quality Review']]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['CMPLNT_FR_DT']]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['RPT_DT']]
-------------------
20.0
Evictions
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['EXECUTED_DATE']]
-------------------
20.0
Taxi Improvement Fund (TIF) Medallion Payments
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Payment Date']]
-------------------
20.0
Housing New York Units by Building
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Project Completion Date']]
-------------------
20.0
Handyman Work Order (HWO) Charges
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['HWOCreateDate']]
-------------------
20.0
Handyman Work Order (HWO) Charges
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['DateTransferDoF']]
-------------------
20.0
Housing New York Units by Project
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Project Start Date']]
-------------------
20.0
Legally Operating Businesses
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['License Creation Date']]
-------------------
20.0
NYPD Complaint Data Historic
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['CMPLNT_TO_DT']]
-------------------
20.0
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
Left Columns: [['tpep_pickup_datetime']]
Right Columns: [['Street Number']]
-------------------

## Downloading a dataset

Now let's materialize one of the weather datasets, in case the user wants to take a look at the data before augmenting it (or so that the user can augment the data him/herself).

In [18]:
ny_weather_data = results[0].download(supplied_data=None)

In [19]:
ny_weather_data['learningData'].head()

,DATE,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,2016-01-01 01:00:00,OVC:08 38,6.1,58.0,17,300,30.03
1,2016-01-01 02:00:00,OVC:08 38,6.1,56.0,16,320,30.03
2,2016-01-01 03:00:00,OVC:08 38,5.6,55.0,13,340,30.03
3,2016-01-01 04:00:00,OVC:08 36,5.6,55.0,13,300,30.03
4,2016-01-01 05:00:00,FEW:02 34 OVC:08 45,5.0,60.0,13,270,30.01

You can also give a dataset as input so that DataMart can try to return a dataset that joins well with it. Only portions of the DataMart dataset that join with the input data will be returned.

In [20]:
ny_weather_data = results[0].download(supplied_data=ny_taxi_demand)

In [21]:
ny_weather_data['learningData'].head()

,DATE,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,2018-04-19 22:00:00,FEW:02 42,5.0,53.0,16.0,310,29.97
1,2018-06-30 20:00:00,SCT:04 250,30.6,43.0,5.0,180,29.97
2,2018-06-02 10:00:00,FEW:02 40 FEW:02 150 SCT:04 200,28.3,61.0,6.0,070,29.7
3,2018-04-17 13:00:00,BKN:07 46 BKN:07 85,8.3,44.0,17.0,260,29.6
4,2018-01-04 01:00:00,OVC:08 32,-1.7,45.0,8.0,020,29.91

## Augmenting a dataset

 Let's try to do our augmentation for the first query result.

In [22]:
join_ = results[0].augment(supplied_data=ny_taxi_demand)

In [23]:
join_['learningData'].head()

,d3mIndex,tpep_pickup_datetime,num_pickups,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,0,2018-04-19 22:00:00,731,FEW:02 42,5.0,53.0,16.0,310,29.97
1,1,2018-06-30 20:00:00,183,SCT:04 250,30.6,43.0,5.0,180,29.97
2,2,2018-06-02 10:00:00,384,FEW:02 40 FEW:02 150 SCT:04 200,28.3,61.0,6.0,070,29.7
3,3,2018-04-17 13:00:00,648,BKN:07 46 BKN:07 85,8.3,44.0,17.0,260,29.6
4,4,2018-01-04 01:00:00,3,OVC:08 32,-1.7,45.0,8.0,020,29.91

We can also choose which columns from the DataMart dataset (i.e., the weather data) that we want in the augmentation process.

In [24]:
join_ = results[0].augment(
    supplied_data=ny_taxi_demand,
    augment_columns=[datamart.DatasetColumn('0', 3), datamart.DatasetColumn('0', 5)]
)

In [25]:
join_['learningData'].head()

,d3mIndex,tpep_pickup_datetime,num_pickups,HOURLYRelativeHumidity,HOURLYWindDirection
0,0,2018-04-19 22:00:00,731,53.0,310
1,1,2018-06-30 20:00:00,183,43.0,180
2,2,2018-06-02 10:00:00,384,61.0,070
3,3,2018-04-17 13:00:00,648,44.0,260
4,4,2018-01-04 01:00:00,3,45.0,020